apiVersion: apps/v1
kind: Deployment
metadata:
  name: monitor
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    spec:
      terminationGracePeriodSeconds: 10   # não deixe infinito
      containers:
        - name: monitor
          imagePullPolicy: Always
          lifecycle:
            preStop:
              exec:
                command: ["sh","-c","sleep 3"]  # dá tempo ao proxy/ingress
          readinessProbe:
            httpGet:
              path: /
              port: 3000            # ajuste pro seu container
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
