name: CI - Build & Push Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

jobs:
  ci:
    runs-on: [self-hosted, Windows, X64]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install deps
        shell: powershell
        run: |
          if (Test-Path package-lock.json) { npm ci } else { npm install }

      - name: Run tests (se tiver)
        shell: powershell
        run: |
          $hasTest = (npm run) -match '\s+test'
          if ($hasTest) { npm test } else { echo "Sem script de teste. Pulando." }

      - name: Set image tags
        id: vars
        shell: powershell
        run: |
          $sha    = "${{ github.sha }}"
          $short  = $sha.Substring(0,7)
          "IMAGE=kaua45otto/monitor" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append
          "TAG_SHA=$sha"             | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append
          "TAG_SHORT=$short"         | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ steps.vars.outputs.IMAGE }}:latest
            ${{ steps.vars.outputs.IMAGE }}:${{ steps.vars.outputs.TAG_SHORT }}
            ${{ steps.vars.outputs.IMAGE }}:${{ steps.vars.outputs.TAG_SHA }}
          cache-from: type=registry,ref=${{ steps.vars.outputs.IMAGE }}:buildcache
          cache-to:   type=registry,ref=${{ steps.vars.outputs.IMAGE }}:buildcache,mode=max
